body {
    background-color: #f5efe0;
}

section#header.section span {
    font-weight: 100;
}

nav.dropmenu > ul > li > a {
    padding-left: 0;
}

#page-wrapper a {
    color: #cd2653;
}

#body-wrapper section p,.dropmenu ul li a.home {
    font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 1rem;
    color: black !important;
}

section.container p,section.container ul {
    max-width: 36rem;
    margin: 0 auto 1.2rem;
}

section.container h1, section.container h2, section.container h3 {
    margin:  2rem auto 0;
    max-width: 36rem;
}