<ul>
{% for p in page.find(page.route).children %}
    {% if (count(page.find(p.route).children) == 0) %}
    <li>
        <a href="{{p.url}}">{{ p.title }}</a><br />
        {{ strip_tags(p.summary) }}
    </li>
    {% endif %}
{% endfor %}
</ul>
