{{>header}}
    <article>
      {{{contents}}}
      <div class="collectionList">
        {{#collectionList collections}}
          <a href="/{{path}}">{{ title }}</a>{{description}}
        {{/collectionList}}
      </div>
    </article>
{{>footer}}
