{{>header}}
    <article>
      <div class="metrics">
        {{{wordCount}}} words (about {{{readingTime}}} minutes to read)
      </div>
      {{{contents}}}
      {{#collectionNav collections}}{{/collectionNav}}
    </article>
{{>footer}}